In [1]:
import pandas as pd
import numpy as np

In [2]:
bajas = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\02 ASISTENCIAS\Bajas.xlsx")
bajas_people = pd.read_excel(r"C:\Users\centro.control\Downloads\bajas-indicadores-people-center1757086368.xlsx")
id_sitios = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\Sitios SAP.xlsx")
bajas_people.shape

(84, 24)

In [3]:
print(bajas.shape)
print(bajas_people.shape)
print(bajas_people.duplicated(subset=['Nombre']).sum())

(5851, 16)
(84, 24)
1

In [4]:
#Eliminar los nombres duplicados de las bajas de people center 
bajas_people=bajas_people.drop_duplicates(subset=['Nombre'])

In [5]:
#buscar las personas que no estan en el acumulado de bajas, pero que si estan en las bajas diarias de people center
personas_bajas = bajas_people[~bajas_people['Nombre'].isin(bajas['nombre_completo'])].copy()

In [6]:
personas_bajas= personas_bajas[['Sitio',
                'Nombre',
                'Turno',
                'ULTIMO DIA TRABAJADO'
                ]]
personas_bajas[['candidate_id', 'empleo', 'no_semana', 'incidencia']] = np.nan
personas_bajas['Nomenclatura'] = 'B'
personas_bajas['validacion'] = 1
personas_bajas['asistencia'] = 1

In [7]:
personas_bajas = pd.merge(personas_bajas, id_sitios[['SITIO','id','NOMBRE COMERCIAL','tipo','SAP', 'EJECUTIVO OPS 2025']], left_on='Sitio', right_on='NOMBRE COMERCIAL', how='left')

In [8]:
personas_bajas= personas_bajas.rename(
    columns={'SITIO': 'sitio',
            'Nombre': 'nombre_completo',
            'Turno': 'turno',
            'ULTIMO DIA TRABAJADO': 'fecha',
            'Nomenclatura': 'nomenclatura',
            'NOMBRE COMERCIAL': 'sitio sap',
            'EJECUTIVO OPS 2025': 'ejecutivo'
            }
)

In [9]:
personas_bajas.columns

Index(['Sitio', 'nombre_completo', 'turno', 'fecha', 'candidate_id', 'empleo',
       'no_semana', 'incidencia', 'nomenclatura', 'validacion', 'asistencia',
       'sitio', 'id', 'sitio sap', 'tipo', 'SAP', 'ejecutivo'],
      dtype='object')

In [10]:
personas_bajas= personas_bajas[['id', 'candidate_id', 'sitio','nombre_completo',
            'empleo', 'turno','no_semana', 'incidencia', 'fecha',
            'nomenclatura', 'sitio sap', 'SAP','tipo', 'validacion', 'asistencia', 'ejecutivo']]

In [11]:
bajas = pd.concat([bajas, personas_bajas], ignore_index=True)

In [12]:
bajas

,id,candidate_id,sitio,nombre_completo,empleo,turno,no_semana,incidencia,fecha,nomenclatura,sitio sap,SAP,tipo,validacion,asistencia,ejecutivo
0,290,NaN,CORPORATIVO SUPERVIA,JOSE ALFREDO HERNANDEZ MARTINEZ,NaN,MATUTINO,NaN,NaN,2024-01-02 00:00:00,B,NaN,NaN,NATURAL,1,1,NaN
1,288,NaN,LIVERPOOL COACALCO,NOE AIDEE CASTAÑON PRIEGO,NaN,VESPERTINO,NaN,NaN,2024-01-02 00:00:00,B,NaN,NaN,NATURAL,1,1,NaN
2,165,NaN,TORRE VIRREYES,RAYMUNDO BENITEZ ORTEGA,NaN,MATUTINO,NaN,NaN,2024-01-02 00:00:00,B,NaN,NaN,NATURAL,1,1,NaN
3,276,NaN,ACADEMIA MADDOX,MARIA DE LOURDES ARZATE GUZMAN,NaN,VESPERTINO,NaN,NaN,2024-01-03 00:00:00,B,NaN,NaN,NATURAL,1,1,NaN
4,276,NaN,ACADEMIA MADDOX,MARCO ANTONIO BENITEZ ROSAS,NaN,MATUTINO,NaN,NaN,2024-01-03 00:00:00,B,NaN,NaN,NATURAL,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5909,100,NaN,UNIVERSAL PICTURES MEXICO,OLGA LIDIA SANCHEZ MARCELO,NaN,VESPERTINO,NaN,NaN,2025-08-27,B,CL05401 UNIVERSAL PICTURES MEXICO,CL05401,NATURAL,1,1,Eric Saavedra
5910,379,NaN,DYNACAST,MARCELA TORRES LOPEZ,NaN,VESPERTINO,NaN,NaN,2025-08-30,B,CL05801 DYNACAST,CL05801,NATURAL,1,1,Karina Sánchez
5911,381,NaN,THOMAS JEFFERSON SANTA MONICA,CRISTINA TRUJILLO LOPEZ,NaN,VESPERTINO,NaN,NaN,2025-08-28,B,CL0601 THOMAS JEFFERSON SANTA MONICA,CL0601,NATURAL,1,1,Abel Vázquez
5912,381,NaN,THOMAS JEFFERSON SANTA MONICA,ALMA ROSA BERMUDEZ PACHECO,NaN,VESPERTINO,NaN,NaN,2025-08-30,B,CL0601 THOMAS JEFFERSON SANTA MONICA,CL0601,NATURAL,1,1,Abel Vázquez
5913,381,NaN,THOMAS JEFFERSON SANTA MONICA,JUANA OTERO NUÑEZ,NaN,VESPERTINO,NaN,NaN,2025-08-30,B,CL0601 THOMAS JEFFERSON SANTA MONICA,CL0601,NATURAL,1,1,Abel Vázquez

In [13]:
bajas.to_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\02 ASISTENCIAS\Bajas.xlsx", index=False)