In [77]:
import pandas as pd 
import numpy as np

In [ ]:
rts_2= pd.read_excel(r"C:\Users\centro.control\Downloads\Rts-Sem-29-2025.xlsx")
sitios_sap = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\Sitios SAP.xlsx")

In [79]:
#Actualizr cada semana con las fechas correspondientes  de Domingo a Sábado
diccionariofechas= {
    'Domingo': '03/08/2025',
    'Lunes': '04/08/2025',
    'Martes': '05/08/2025',
    'Miercoles': '06/08/2025',
    'Jueves': '07/08/2025',
    'Viernes': '08/08/2025',
    'Sabado': '09/08/2025',
}

In [81]:
def rts_dia(dia):
    rts_x_dia = rts_2[rts_2[dia].notna() ][ ['Nombre', 'Sitio donde acude', 'Turno'] ]
    rts_x_dia['Dia semana'] = dia
    return rts_x_dia

def dia_a_fecha(dia):
    return diccionariofechas.get(dia, 'fecha no encontrada')

dias_semana = ['Domingo', 'Lunes', 'Martes', 'Miercole', 'Jueves', 'Viernes', 'Sabado']

In [82]:
rts_limpios = pd.DataFrame()
for dia in dias_semana:
    aux = []
    aux = pd.DataFrame(rts_dia(dia))
    rts_limpios = pd.concat([rts_limpios, aux], ignore_index=True)

In [ ]:
rts_limpios['fecha'] = rts_limpios['Dia semana'].apply(dia_a_fecha)
rts_limpios['Nomenclatura'] = 'RT'
rts_limpios['Asistencia']= 1
cols = [
    'candidate_id', 'NumWeek', 'employment',
    'incidencia', 'Significado','Tipo'
]
rts_limpios[cols] = np.nan

In [86]:
rts_limpios= pd.merge(
    rts_limpios,
    sitios_sap[['Nombre Comercial', 'SITIO', 'id']],
    left_on='Sitio donde acude',
    right_on='SITIO',
    how='left'
)

In [87]:
rts_limpios = rts_limpios[['id',
                    'candidate_id',
                    'Nombre Comercial',
                    'Nombre',
                    'employment',
                    'Turno',
                    'NumWeek',
                    'incidencia',
                    'fecha',
                    'Nomenclatura',
                    'Significado',
                    'Asistencia',
                    'Tipo']]

In [88]:
rts_limpios.rename(columns={
    'Nombre Comercial': 'sitio',
    'Nombre': 'nombre_completo',
    'Turno': 'turno'}, inplace=True)

In [89]:
rts_limpios

,id,candidate_id,sitio,nombre_completo,employment,turno,NumWeek,incidencia,fecha,Nomenclatura,Significado,Asistencia,Tipo
0,322,NaN,PLAZA ARKANA NORTE,RINCON CRUZ ROSARIO AIDEE,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
1,355,NaN,EUROVI ACOXPA,MARTINEZ ACUA GUADALUPE,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
2,183,NaN,LIVERPOOL INTERLOMAS,TEZOCO QUIAHUA NICOLASA,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
3,317,NaN,UNITED AIRLINES,SANCHEZ JIMENEZ ANA LAURA,NaN,VESPERTINO,NaN,NaN,04/08/2025,RT,NaN,1,NaN
4,251,NaN,AMERICAN EXPRESS PATRIOTISMO,PEREZ LOPEZ MAGDALENA,NaN,NOCTURNO,NaN,NaN,04/08/2025,RT,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,376,NaN,SOHO HOUSE,SALDAÑA NUÑEZ IVETTE IVONNE,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
217,376,NaN,SOHO HOUSE,SANCHEZ ALVARADO ROBERTO,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
218,376,NaN,SOHO HOUSE,TAVERA SANCHEZ ADRIANA JANETH,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
219,245,NaN,ZAGO BAJA CALIFORNIA,GONZALEZ DELGADO VERONICA,NaN,VESPERTINO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
220,379,NaN,DYNACAST,PATIÑO LOPEZ NORMA CLAUDIA,NaN,VESPERTINO,NaN,NaN,09/08/2025,RT,NaN,1,NaN

In [90]:
rts_limpios.to_excel(r"C:\Users\centro.control\Documents\Limpieza de rts\Rts-Sem-29-2025-Limpio.xlsx",index=False)