In [20]:
import pandas as pd
import datetime as dt

In [21]:
field  = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\01 CEDULAS DE FIELD\08 de Agosto 2025.xlsx")
field_nuevos  = pd.read_excel(r"C:\Users\centro.control\Downloads\CUMPLIMIENTO DE RUTINAS - 2025-09-01T104147.780.xlsx", header=[1])
sitios_sap = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\Sitios SAP.xlsx")

In [22]:
field_nuevos['rutinas realizadas reales'] = field_nuevos['Rutinas Realizadas']
field_nuevos[' % de cumplimiento real'] =  field_nuevos['rutinas realizadas reales']/field_nuevos['Rutinas Asignadas']

In [23]:
field_nuevos = pd.merge(field_nuevos, sitios_sap[['SITIO','EJECUTIVO OPS 2025']], left_on='Sitio', right_on= 'SITIO', how='left').drop(columns='SITIO').rename(columns={'EJECUTIVO OPS 2025': 'Ejecutivo', 'ID Sitio People Center': 'id'})

In [24]:
field_nuevos

,ID Cedula,id,Sitio,Turno,Día,Fecha Entrada,Hora Entrada,Fecha Salida,Hora Salida,Objetivo Rutinas,Rutinas Asignadas,Rutinas Realizadas,Geolocalización,rutinas realizadas reales,% de cumplimiento real,Ejecutivo
0,90613.0,354,EUROVI OASIS,Nocturno,Viernes,2025-08-01,01:11:42,2025-08-01,04:56:46,181,25.0,23.0,"19.3465493,-99.1800657",23.0,0.92,Oscar Castillo
1,90618.0,355,EUROVI ACOXPA,Nocturno,Viernes,2025-08-01,04:09:38,2025-08-01,05:35:43,331,31.0,31.0,"19.2984236,-99.1369201",31.0,1.00,Oscar Castillo
2,90623.0,301,SOFTTEK TOREO,Matutino,Viernes,2025-08-01,11:13:12,2025-08-01,11:48:28,76,52.0,52.0,"19.452102,-99.2188372",52.0,1.00,Ángel Cervantes
3,90624.0,317,UNITED AIR LINES,Matutino,Viernes,2025-08-01,05:58:44,2025-08-01,12:04:05,68,68.0,68.0,"19.4278547,-99.1627255",68.0,1.00,NaN
4,90625.0,286,EDGEWELL,Matutino,Viernes,2025-08-01,08:09:56,2025-08-01,12:20:39,100,74.0,74.0,NaN,74.0,1.00,Karina Sánchez
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3080,NaN,266,TORRE REFORMA,Vespertino,Sabado,2025-08-16,NaN,NaT,NaN,175,68.0,0.0,NaN,0.0,0.00,Abel Vázquez
3081,NaN,317,UNITED AIR LINES,Matutino,Jueves,2025-08-07,NaN,NaT,NaN,68,68.0,0.0,NaN,0.0,0.00,NaN
3082,NaN,317,UNITED AIR LINES,Matutino,Viernes,2025-08-29,NaN,NaT,NaN,68,68.0,0.0,NaN,0.0,0.00,NaN
3083,NaN,100,UNIVERSAL PICTURES MEXICO,Matutino,Viernes,2025-08-29,NaN,NaT,NaN,16,16.0,0.0,NaN,0.0,0.00,Eric Saavedra
3084,NaN,246,ZAGO EVEREST,Matutino,Sabado,2025-08-16,NaN,NaT,NaN,29,29.0,0.0,NaN,0.0,0.00,Abel Vázquez

In [25]:
field_nuevos = field_nuevos[['ID Cedula', 'id', 'Sitio', 'Turno', 'Día', 'Fecha Entrada',
    'Hora Entrada', 'Fecha Salida', 'Hora Salida', 'Objetivo Rutinas',
    'Rutinas Asignadas', 'Rutinas Realizadas', 'Geolocalización',
    'Ejecutivo', 'rutinas realizadas reales', ' % de cumplimiento real']]

In [26]:
field_nuevos.shape

(3085, 16)

In [27]:
field = pd.concat([field,field_nuevos])

In [28]:
field['Fecha Entrada'] = field['Fecha Entrada'].dt.date
field['Fecha Salida'] = field['Fecha Salida'].dt.date

In [29]:
field

,ID Cedula,id,Sitio,Turno,Día,Fecha Entrada,Hora Entrada,Fecha Salida,Hora Salida,Objetivo Rutinas,Rutinas Asignadas,Rutinas Realizadas,Geolocalización,Ejecutivo,rutinas realizadas reales,% de cumplimiento real
0,90613.0,354,EUROVI OASIS,Nocturno,Viernes,2025-08-01,01:11:42,2025-08-01,04:56:46,181,25.0,23.0,"19.3465493,-99.1800657",NaN,23.0,0.92
1,90618.0,355,EUROVI ACOXPA,Nocturno,Viernes,2025-08-01,04:09:38,2025-08-01,05:35:43,331,31.0,31.0,"19.2984236,-99.1369201",NaN,31.0,1.00
2,90623.0,301,SOFTTEK TOREO,Matutino,Viernes,2025-08-01,11:13:12,2025-08-01,11:48:28,76,52.0,52.0,"19.452102,-99.2188372",NaN,52.0,1.00
3,90624.0,317,UNITED AIR LINES,Matutino,Viernes,2025-08-01,05:58:44,2025-08-01,12:04:05,68,68.0,68.0,"19.4278547,-99.1627255",NaN,68.0,1.00
4,90625.0,286,EDGEWELL,Matutino,Viernes,2025-08-01,08:09:56,2025-08-01,12:20:39,100,74.0,74.0,NaN,NaN,74.0,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3080,NaN,266,TORRE REFORMA,Vespertino,Sabado,2025-08-16,NaN,NaT,NaN,175,68.0,0.0,NaN,Abel Vázquez,0.0,0.00
3081,NaN,317,UNITED AIR LINES,Matutino,Jueves,2025-08-07,NaN,NaT,NaN,68,68.0,0.0,NaN,NaN,0.0,0.00
3082,NaN,317,UNITED AIR LINES,Matutino,Viernes,2025-08-29,NaN,NaT,NaN,68,68.0,0.0,NaN,NaN,0.0,0.00
3083,NaN,100,UNIVERSAL PICTURES MEXICO,Matutino,Viernes,2025-08-29,NaN,NaT,NaN,16,16.0,0.0,NaN,Eric Saavedra,0.0,0.00
3084,NaN,246,ZAGO EVEREST,Matutino,Sabado,2025-08-16,NaN,NaT,NaN,29,29.0,0.0,NaN,Abel Vázquez,0.0,0.00

In [30]:
field = field.drop_duplicates(subset=['Sitio', 'Turno', 'Fecha Entrada'], keep='last', ignore_index=True)
field =  field[field['Sitio'] != 'PRUEBAS TECH2B']

In [31]:
field.shape

(3017, 16)

In [32]:
field.to_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\01 CEDULAS DE FIELD\08 de Agosto 2025.xlsx", index=False)