In [1]:
import pandas as pd
import datetime as dt

In [2]:
field  = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\01 CEDULAS DE FIELD\10 de Octubre 2025.xlsx")
field_nuevos  = pd.read_excel(r"C:\Users\centro.control\Downloads\CUMPLIMIENTO DE RUTINAS - 2025-10-14T095909.739.xlsx", header=[1])
sitios_sap = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\Sitios SAP.xlsx")

In [3]:
field_nuevos['rutinas realizadas reales'] = field_nuevos['Rutinas Realizadas']
field_nuevos[' % de cumplimiento real'] =  field_nuevos['rutinas realizadas reales']/field_nuevos['Rutinas Asignadas']

In [4]:
field_nuevos = pd.merge(field_nuevos, sitios_sap[['SITIO','EJECUTIVO OPS 2025']], left_on='Sitio', right_on= 'SITIO', how='left').drop(columns='SITIO').rename(columns={'EJECUTIVO OPS 2025': 'Ejecutivo', 'ID Sitio People Center': 'id'})

In [5]:
field_nuevos

,ID Cedula,id,Sitio,Turno,Día,Fecha Entrada,Hora Entrada,Fecha Salida,Hora Salida,Objetivo Rutinas,Rutinas Asignadas,Rutinas Realizadas,Geolocalización,rutinas realizadas reales,% de cumplimiento real,Ejecutivo
0,100001.0,266,TORRE REFORMA,Vespertino,Lunes,2025-10-13,21:23:45,2025-10-13,21:38:05,330,91,82,NaN,82,0.901099,Abel Vázquez
1,100002.0,257,ASSA ABLOY PELICANO,Vespertino,Lunes,2025-10-13,14:16:24,2025-10-13,21:41:30,104,20,20,NaN,20,1.000000,Karina Sánchez
2,100003.0,355,EUROVI ACOXPA,Vespertino,Lunes,2025-10-13,12:23:31,2025-10-13,20:43:25,248,122,122,"19.2985584,-99.1368153",122,1.000000,Oscar Castillo
3,100004.0,345,PLAY CITY OASIS,Vespertino,Lunes,2025-10-13,14:15:44,2025-10-13,21:49:19,54,12,12,"19.3444039,-99.1794794",12,1.000000,Oscar Castillo
4,100005.0,344,PLAY CITY ACOXPA,Vespertino,Lunes,2025-10-13,14:17:23,2025-10-13,21:59:50,146,53,53,NaN,53,1.000000,Oscar Castillo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,NaN,376,SOHO HOUSE,Nocturno,Lunes,2025-10-13,NaN,NaT,NaN,61,61,0,NaN,0,0.000000,Ángel Cervantes
121,NaN,181,TORRE ACUARIO,Matutino,Lunes,2025-10-13,NaN,NaT,NaN,74,39,0,NaN,0,0.000000,Oscar Castillo
122,NaN,266,TORRE REFORMA,Nocturno,Lunes,2025-10-13,NaN,NaT,NaN,330,36,0,NaN,0,0.000000,Abel Vázquez
123,NaN,100,UNIVERSAL PICTURES MEXICO,Matutino,Lunes,2025-10-13,NaN,NaT,NaN,57,48,0,NaN,0,0.000000,Oscar Castillo
124,NaN,100,UNIVERSAL PICTURES MEXICO,Vespertino,Lunes,2025-10-13,NaN,NaT,NaN,57,9,0,NaN,0,0.000000,Oscar Castillo

In [6]:
field_nuevos = field_nuevos[['ID Cedula', 'id', 'Sitio', 'Turno', 'Día', 'Fecha Entrada',
    'Hora Entrada', 'Fecha Salida', 'Hora Salida', 'Objetivo Rutinas',
    'Rutinas Asignadas', 'Rutinas Realizadas', 'Geolocalización',
    'Ejecutivo', 'rutinas realizadas reales', ' % de cumplimiento real']]

In [7]:
field_nuevos.shape

(125, 16)

In [8]:
field = pd.concat([field,field_nuevos])

In [9]:
field['Fecha Entrada'] = field['Fecha Entrada'].dt.date
field['Fecha Salida'] = field['Fecha Salida'].dt.date

In [10]:
field

,ID Cedula,id,Sitio,Turno,Día,Fecha Entrada,Hora Entrada,Fecha Salida,Hora Salida,Objetivo Rutinas,Rutinas Asignadas,Rutinas Realizadas,Geolocalización,Ejecutivo,rutinas realizadas reales,% de cumplimiento real
0,94467.0,354,EUROVI OASIS,Vespertino,Lunes,2025-09-01,01:14:41,2025-09-01,01:21:26,181,63.0,63.0,"19.3465563,-99.1800561",Oscar Castillo,63.0,1.0
1,94473.0,355,EUROVI ACOXPA,Nocturno,Lunes,2025-09-01,02:27:09,2025-09-01,04:38:28,248,18.0,18.0,"19.2986215,-99.1367587",Oscar Castillo,18.0,1.0
2,94474.0,354,EUROVI OASIS,Nocturno,Lunes,2025-09-01,01:23:38,2025-09-01,04:58:26,181,25.0,25.0,"19.3465565,-99.180056",Oscar Castillo,25.0,1.0
3,94491.0,93,SOFTTEK POLANCO,Matutino,Lunes,2025-09-01,06:22:47,2025-09-01,10:59:46,31,10.0,10.0,"19.4378975,-99.209631",Abel Vázquez,10.0,1.0
4,94493.0,286,EDGEWELL,Matutino,Lunes,2025-09-01,07:08:57,2025-09-01,12:22:39,100,74.0,74.0,"19.6039255,-99.2101552",Karina Sánchez,74.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,NaN,376,SOHO HOUSE,Nocturno,Lunes,2025-10-13,NaN,NaT,NaN,61,61.0,0.0,NaN,Ángel Cervantes,0.0,0.0
121,NaN,181,TORRE ACUARIO,Matutino,Lunes,2025-10-13,NaN,NaT,NaN,74,39.0,0.0,NaN,Oscar Castillo,0.0,0.0
122,NaN,266,TORRE REFORMA,Nocturno,Lunes,2025-10-13,NaN,NaT,NaN,330,36.0,0.0,NaN,Abel Vázquez,0.0,0.0
123,NaN,100,UNIVERSAL PICTURES MEXICO,Matutino,Lunes,2025-10-13,NaN,NaT,NaN,57,48.0,0.0,NaN,Oscar Castillo,0.0,0.0
124,NaN,100,UNIVERSAL PICTURES MEXICO,Vespertino,Lunes,2025-10-13,NaN,NaT,NaN,57,9.0,0.0,NaN,Oscar Castillo,0.0,0.0

In [11]:
field = field.drop_duplicates(subset=['Sitio', 'Turno', 'Fecha Entrada'], keep='last', ignore_index=True)
field =  field[field['Sitio'] != 'PRUEBAS TECH2B']

In [12]:
field.shape

(4311, 16)

In [13]:
field.to_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\01 CEDULAS DE FIELD\10 de Octubre 2025.xlsx", index=False, sheet_name="Hoja1")