In [4]:
import pandas as pd
import numpy as np

In [5]:
nomenclatura_asistencia = {
    2:	'X',
    17:	'A',
    1:	'1TRAB',
    6:	'1DFES',
    5:	'1VAC',
    7:	'1FINJ',
    3:	'B',
    9:	'1INC',
    4:	'C',
    8:	'1FJUS',
    14:	'CS',
    13:	'PGS AP',
    12:	'PGS SA',
    11:	'PSGS',
    16:	'PF'
}

trab = {
    '1TRAB': 1,
    'X': 1,
    'RT': 1, 
    'PGS SA': 1,
    '1DFES': 1
}

In [6]:
asistencia = pd.read_csv(r"C:\Users\centro.control\Downloads\IncidenciasPC-01-10-2025-al-27-10-2025.xls", sep='\t')
id_sitios = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\Sitios SAP.xlsx")

In [ ]:
id_sitios = id_sitios.rename(columns={
    'SITIO': 'sitio'
})
asistencia = asistencia.rename(columns={
        'id':'candidate_id'
})

In [8]:
id_sitios.head()

,SAP,Razón Social OK,sitio,RFC,id,NOMBRE COMERCIAL,EJECUTIVO OPS 2025,ZONA OPS,CATEGORIA DE SITIO,DIRECCIÓN DEL SITIO,LATITUD,LONGITUD,tipo
0,NaN,NaN,CAF PURINA,NaN,6,CAF PURINA,NaN,NaN,NaN,NaN,NaN,NaN,NATURAL
1,NaN,NaN,CEDIS PURINA,NaN,8,CEDIS PURINA,NaN,NaN,NaN,NaN,NaN,NaN,NATURAL
2,CL03001,SERVICIOS LIVERPOOL,CORPORATIVO LIVERPOOL,SLI8007013R7,20,CL03001 CORPORATIVO LIVERPOOL,Abel Vázquez,CUAJIMALPA,GRANDE,"MARIO PANI 200, SANTA FE, CONTADERO, CUAJIMALP...",19.359865,-99.274738,NATURAL
3,NaN,NaN,GE SANTA FE,NaN,48,GE SANTA FE,NaN,NaN,NaN,NaN,NaN,NaN,NATURAL
4,CL05201,TIP DE MEXICO,TIP DE MEXICO,TME931214KU6,49,CL05201 TIP DE MEXICO,Karina Sánchez,NORTE,CHICO,"AV. TEJOCOTES S/N LOTE 10, FRACC. INDUSTRIAL S...",19.606874,-99.218071,NATURAL

In [9]:
id_sitios= id_sitios[['SAP','NOMBRE COMERCIAL','id', 'sitio','tipo','EJECUTIVO OPS 2025']]
asistencia= asistencia.merge(id_sitios, left_on='sitio', right_on='NOMBRE COMERCIAL', how='left').drop(columns=['sitio_x'])
asistencia = asistencia[~ asistencia['incidencia'].isin([17,3])] #quitamos las {bajas: 17, altas:3 }

In [10]:
def nomenclatura(incidencia):
    return nomenclatura_asistencia.get(incidencia,None)

asistencia['nomenclatura'] = list(map(nomenclatura,asistencia['incidencia']))

In [11]:
def work(job):
    return trab.get(job,0)
asistencia['asistencia'] = list(map(work,asistencia['nomenclatura']))

asistencia['validacion'] = asistencia['asistencia']

In [12]:
asistencia

,candidate_id,id_sitio,nombre_completo,empleo,turno,no_semana,incidencia,fecha,SAP,NOMBRE COMERCIAL,id,sitio_y,tipo,EJECUTIVO OPS 2025,nomenclatura,asistencia,validacion
0,21113,322,ABARCA LOAEZA NEMESIO,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,CL00601,CL00601 PLAZA ARKANA NORTE,322,PLAZA ARKANA NORTE,NATURAL,Guillermina Vázquez,1TRAB,1,1
1,23241,356,AGUERO SANCHEZ JAIME,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,CL02202,CL02202 EUROVI LA ROSA,356,EUROVI LA ROSA,NATURAL,Karla Gómez,1TRAB,1,1
2,3119,256,AGUEROS GOYCOECHEA RUBEN IVAN,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,CL04201,CL04201 ENCUENTRO OCEANIA,256,ENCUENTRO OCEANIA,NATURAL,Guillermina Vázquez,1TRAB,1,1
3,20667,354,AGUILAR AGUIRRE ANA LAURA,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,CL02203,CL02203 EUROVI OASIS,354,EUROVI OASIS,NATURAL,Oscar Castillo,1TRAB,1,1
4,21794,311,AGUILAR DIAZ CRISTIAN,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,CL03014,CL03014 LIVERPOOL TEPEYAC,311,LIVERPOOL TEPEYAC,NATURAL,Karina Sánchez,1TRAB,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37469,20215,355,SANCHEZ LOZADA JONATHAN LEONARDO,COORDINADOR,MIXTO,45,2.0,2025-10-27,CL02201,CL02201 EUROVI ACOXPA,355,EUROVI ACOXPA,NATURAL,Oscar Castillo,X,1,1
37470,12758,59,SARABIA LOPEZ PRAXEDIS,OPERADOR DE LIMPIEZA,MIXTO,45,1.0,2025-10-27,CL04301,CL04301 INSTITUTO REGINA,59,INSTITUTO REGINA,NATURAL,Ángel Cervantes,1TRAB,1,1
37471,13298,286,SEGURA ALVARADO MARIA PATRICIA,SUPERVISOR DE SITIO,MIXTO,45,1.0,2025-10-27,CL01801,CL01801 EDGEWELL,286,EDGEWELL,NATURAL,Karina Sánchez,1TRAB,1,1
37472,15610,80,TAPIA ROSAS REYNA AYDEE,OPERADOR DE LIMPIEZA,MIXTO,45,1.0,2025-10-27,CL01301,CL01301 CUMBRES PRIMARIA Y KINDER,80,CUMBRES PRIMARIA Y KINDER,NATURAL,Ángel Cervantes,1TRAB,1,1
37473,16418,125,TREJO MORALES FLORA,OPERADOR DE LIMPIEZA,MIXTO,45,1.0,2025-10-27,CL03501,CL03501 COLEGIO MONTEVERDE,125,COLEGIO MONTEVERDE,NATURAL,Abel Vázquez,1TRAB,1,1

In [13]:
asistencia = asistencia.rename(
    columns={
        'sitio_y': 'sitio',
        'NOMBRE COMERCIAL': 'sitio sap',
        'EJECUTIVO OPS 2025': 'ejecutivo'
    }
)

In [14]:

asistencia= asistencia[[
    'id','candidate_id','sitio', 'nombre_completo','empleo','turno',
    'no_semana','incidencia','fecha','nomenclatura','sitio sap',
    'SAP','tipo','validacion',	'asistencia','ejecutivo']]

In [ ]:
asistencia = asistencia.drop_duplicates()
asistencia

,id,candidate_id,sitio,nombre_completo,empleo,turno,no_semana,incidencia,fecha,nomenclatura,sitio sap,SAP,tipo,validacion,asistencia,ejecutivo
0,322,21113,PLAZA ARKANA NORTE,ABARCA LOAEZA NEMESIO,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,1TRAB,CL00601 PLAZA ARKANA NORTE,CL00601,NATURAL,1,1,Guillermina Vázquez
1,356,23241,EUROVI LA ROSA,AGUERO SANCHEZ JAIME,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,1TRAB,CL02202 EUROVI LA ROSA,CL02202,NATURAL,1,1,Karla Gómez
2,256,3119,ENCUENTRO OCEANIA,AGUEROS GOYCOECHEA RUBEN IVAN,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,1TRAB,CL04201 ENCUENTRO OCEANIA,CL04201,NATURAL,1,1,Guillermina Vázquez
3,354,20667,EUROVI OASIS,AGUILAR AGUIRRE ANA LAURA,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,1TRAB,CL02203 EUROVI OASIS,CL02203,NATURAL,1,1,Oscar Castillo
4,311,21794,LIVERPOOL TEPEYAC,AGUILAR DIAZ CRISTIAN,OPERADOR DE LIMPIEZA,MATUTINO,41,1.0,2025-10-01,1TRAB,CL03014 LIVERPOOL TEPEYAC,CL03014,NATURAL,1,1,Karina Sánchez
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37469,355,20215,EUROVI ACOXPA,SANCHEZ LOZADA JONATHAN LEONARDO,COORDINADOR,MIXTO,45,2.0,2025-10-27,X,CL02201 EUROVI ACOXPA,CL02201,NATURAL,1,1,Oscar Castillo
37470,59,12758,INSTITUTO REGINA,SARABIA LOPEZ PRAXEDIS,OPERADOR DE LIMPIEZA,MIXTO,45,1.0,2025-10-27,1TRAB,CL04301 INSTITUTO REGINA,CL04301,NATURAL,1,1,Ángel Cervantes
37471,286,13298,EDGEWELL,SEGURA ALVARADO MARIA PATRICIA,SUPERVISOR DE SITIO,MIXTO,45,1.0,2025-10-27,1TRAB,CL01801 EDGEWELL,CL01801,NATURAL,1,1,Karina Sánchez
37472,80,15610,CUMBRES PRIMARIA Y KINDER,TAPIA ROSAS REYNA AYDEE,OPERADOR DE LIMPIEZA,MIXTO,45,1.0,2025-10-27,1TRAB,CL01301 CUMBRES PRIMARIA Y KINDER,CL01301,NATURAL,1,1,Ángel Cervantes
37473,125,16418,COLEGIO MONTEVERDE,TREJO MORALES FLORA,OPERADOR DE LIMPIEZA,MIXTO,45,1.0,2025-10-27,1TRAB,CL03501 COLEGIO MONTEVERDE,CL03501,NATURAL,1,1,Abel Vázquez

In [16]:
asistencia.to_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\02 ASISTENCIAS\10 Octubre 2025.xlsx",sheet_name="Hoja1", index=False)