In [17]:
import pandas as pd

In [18]:
data= pd.read_excel(r"C:\Users\centro.control\Documents\sfgsdsdfgsdfgsdfg.xlsx")

In [19]:
data

,Nombre del colaborador:,Fecha de Cobertura\n,SITIO AL QUE ACUDIÓ,TURNO,TIPO DE COBERTURA
0,AVELAR BAUTISTA CRUZ ADRIANA,2025-10-08,CORPORATIVO TOKS,MATUTINO,APOYO
1,ABREU YAÑEZ JAVIER ELEAZAR,2025-10-01,PLAZA ARKANA NORTE,MATUTINO,APOYO
2,ROSAS CARRILLO DIANA,2025-10-01,TORRE CHAPULTEPEC,MATUTINO,APOYO
3,AVELAR BAUTISTA CRUZ ADRIANA,2025-10-01,MCCANN,MATUTINO,APOYO
4,CECILIA GALVAN PERRUSQUIA,2025-10-01,DYNACAST,MATUTINO,APOYO
...,...,...,...,...,...
88,ABREU YAÑEZ JAVIER ELEAZAR,2025-10-13,PLAZA ARKANA NORTE,VESPERTINO,APOYO
89,AVELAR BAUTISTA CRUZ ADRIANA,2025-10-13,SIN DEFINIR,MATUTINO,X
90,CECILIA GALVAN PERRUSQUIA,2025-10-14,EVENFLO,MATUTINO,APOYO
91,ABREU YAÑEZ JAVIER ELEAZAR,2025-10-14,PLAZA ARKANA NORTE,MATUTINO,APOYO
92,AVELAR BAUTISTA CRUZ ADRIANA,2025-10-14,INSTITUTO REGINA,VESPERTINO,APOYO

In [20]:
df = data.pivot_table(index='Nombre del colaborador:', columns='Fecha de Cobertura\n',values='SITIO AL QUE ACUDIÓ' ,aggfunc='first')

In [21]:
df.to_excel(r"C:\Users\centro.control\Documents\gelbs.xlsx",index=True)