In [352]:
import pandas as pd 
import numpy as np

In [353]:
data= pd.read_excel(r"C:\Users\centro.control\Documents\Python\Vacantes.xlsx")

In [354]:
data['Fecha del reporte'] = data['Fecha del reporte'].dt.strftime("%Y-%m-%d")

In [355]:
data_vacantes = data[['Sitio','Turno','Fecha del reporte','Vacante']]
data_vacantes

                            Sitio     Turno Fecha del reporte  Vacante
0                    EUROVI OASIS  Matutino        2025-05-01        3
1     PARQUES PLAZA NUEVO POLANCO  Matutino        2025-05-01        0
2                PLAY CITY ANTARA  Matutino        2025-05-01        0
3             LIVERPOOL PERINORTE  Matutino        2025-05-01        2
4                          MCCANN  Matutino        2025-05-01        0
...                           ...       ...               ...      ...
8263            SUBURBIA SATELITE     Mixto        2025-05-21        0
8264            ENCUENTRO OCEANIA     Mixto        2025-05-21        0
8265          ASSA ABLOY PELICANO     Mixto        2025-05-21        0
8266         ASSA ABLOY TULTITLAN     Mixto        2025-05-21        0
8267                SOFTTEK TOREO     Mixto        2025-05-21        0

[8268 rows x 4 columns]

In [356]:
tabla_pivot = data_vacantes.pivot(
    index=['Sitio', 'Turno'],
    columns='Fecha del reporte',
    values='Vacante'
)
tabla_pivot= tabla_pivot.fillna(0)
tabla_pivot= tabla_pivot.reset_index()
fechas = tabla_pivot.columns[2:]

In [357]:
vacantes_nuevas={}
vacantes_nuevas['SITIOS'] = tabla_pivot['Sitio']
vacantes_nuevas['Turno'] = tabla_pivot['Turno']
for i in range(len(fechas)-1):
    vacantes_nuevas[f'Nuevas: {fechas[i+1]} - {fechas[i]}'] = (tabla_pivot[fechas[i+1]] - tabla_pivot[fechas[i]]).clip(lower=0)

In [358]:
vacantes_cubiertas={}

vacantes_cubiertas['SITIOS'] = tabla_pivot['Sitio']
vacantes_cubiertas['Turno'] = tabla_pivot['Turno']
for i in range(len(fechas)-1):
    vacantes_cubiertas[f'Cubiertas: {fechas[i+1]} - {fechas[i]}'] = (tabla_pivot[fechas[i]] - tabla_pivot[fechas[i+1]]).clip(lower=0)

In [359]:
vacantes_sin_movimiento={}
for i in range(len(fechas)-1):
    vacantes_sin_movimiento[f'Nuevas: {fechas[i+1]} - {fechas[i]}'] = tabla_pivot[[fechas[i], fechas[i+1]]].min(axis=1)

In [360]:
vacantes_nuevas=pd.DataFrame(vacantes_nuevas)
vacantes_cubiertas=pd.DataFrame(vacantes_cubiertas)
vacantes_sin_movimiento=pd.DataFrame(vacantes_sin_movimiento)

In [361]:
print(np.sum(vacantes_cubiertas.iloc[:,-1]).astype(int))
print(np.sum(vacantes_nuevas.iloc[:,-1]).astype(int))
print(np.sum(vacantes_sin_movimiento.iloc[:,-1]).astype(int))

7
3
24

In [362]:
vacantes_sin_movimiento.head(2)

,Nuevas: 2025-05-02 - 2025-05-01,Nuevas: 2025-05-03 - 2025-05-02,Nuevas: 2025-05-04 - 2025-05-03,Nuevas: 2025-05-05 - 2025-05-04,Nuevas: 2025-05-06 - 2025-05-05,Nuevas: 2025-05-07 - 2025-05-06,Nuevas: 2025-05-08 - 2025-05-07,Nuevas: 2025-05-09 - 2025-05-08,Nuevas: 2025-05-10 - 2025-05-09,Nuevas: 2025-05-11 - 2025-05-10,Nuevas: 2025-05-12 - 2025-05-11,Nuevas: 2025-05-13 - 2025-05-12,Nuevas: 2025-05-14 - 2025-05-13,Nuevas: 2025-05-15 - 2025-05-14,Nuevas: 2025-05-16 - 2025-05-15,Nuevas: 2025-05-17 - 2025-05-16,Nuevas: 2025-05-18 - 2025-05-17,Nuevas: 2025-05-19 - 2025-05-18,Nuevas: 2025-05-20 - 2025-05-19,Nuevas: 2025-05-21 - 2025-05-20
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [363]:
def dias_vacantes(fila):
    contador = 0
    for val in  reversed(fila):
        if val != 0:
            contador += 1
        else:
            break
    return contador

In [364]:
conteos = vacantes_sin_movimiento.apply(dias_vacantes, axis=1)

C:\Users\centro.control\AppData\Local\Temp\ipykernel_234548\3352376034.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  for val in  reversed(fila):

In [365]:
conteos = [x+1 if x != 0 else 0 for x in conteos]

In [366]:

vacantes_sin_movimiento['SITIOS'] = tabla_pivot['Sitio']
vacantes_sin_movimiento['Turno'] = tabla_pivot['Turno']
vacantes_sin_movimiento['dias con vacantes'] = conteos

vacantes_sin_movimiento = vacantes_sin_movimiento.sort_values(by=['dias con vacantes'], ascending=False)

In [367]:
vacantes_sin_movimiento

,Nuevas: 2025-05-02 - 2025-05-01,Nuevas: 2025-05-03 - 2025-05-02,Nuevas: 2025-05-04 - 2025-05-03,Nuevas: 2025-05-05 - 2025-05-04,Nuevas: 2025-05-06 - 2025-05-05,Nuevas: 2025-05-07 - 2025-05-06,Nuevas: 2025-05-08 - 2025-05-07,Nuevas: 2025-05-09 - 2025-05-08,Nuevas: 2025-05-10 - 2025-05-09,Nuevas: 2025-05-11 - 2025-05-10,...,Nuevas: 2025-05-15 - 2025-05-14,Nuevas: 2025-05-16 - 2025-05-15,Nuevas: 2025-05-17 - 2025-05-16,Nuevas: 2025-05-18 - 2025-05-17,Nuevas: 2025-05-19 - 2025-05-18,Nuevas: 2025-05-20 - 2025-05-19,Nuevas: 2025-05-21 - 2025-05-20,SITIOS,Turno,dias con vacantes
236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,1.0,1.0,2.0,2.0,2.0,2.0,2.0,MIYANA CENTRO COMERCIAL,Matutino,14
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,AMERICAN EXPRESS POLANCO,Vespertino,12
107,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,2.0,1.0,EDGEWELL,Vespertino,7
239,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,...,0.0,1.0,2.0,2.0,1.0,1.0,1.0,MIYANA CENTRO COMERCIAL,Vespertino,7
287,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,PLAY CITY ACOXPA,Vespertino,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AMERICAN AIRLINES,Vespertino,0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AMERICAN EXPRESS,Matutino,0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AMERICAN EXPRESS,Mixto,0
18,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AMERICAN EXPRESS,Nocturno,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4E GLOBAL CEDIS,Vespertino,0