In [5]:
import os
import pandas as pd
import glob

In [6]:
folder_path ="C:\\Users\\centro.control\\Documents\\Python\\Proyectos\\Rutinas actuales vs frecuencia\\Archivos xlxs"
file_pattern = os.path.join(folder_path, '*.xlsx')

In [4]:
dfs = []
for file in glob.glob(file_pattern):
    df = pd.read_excel(file)
    dfs.append(df)

In [7]:
combined_df = pd.concat(dfs, ignore_index=True)

In [8]:
combined_df .columns = combined_df .iloc[0]
combined_df  = combined_df .drop(index=[0])
combined_df .reset_index(drop=True, inplace=True)

In [9]:
combined_df.head()

,Sitio,Operador,Área General,Área Específica,Actividades Detalladas,Necesidad por Hora,Turno Matutino,Turno Vespertino,Turno Nocturno,Turno Mixto,Tipo Limpieza,Zona,Técnica de Limpieza,Lunes,Martes,Miércoles,Jueves,Viernes,Sábado,Domingo
0,4E GLOBAL PLANTA,OPL 1,OFICINAS DE FINANZAS,NaN,"LIMPIEZA DE MOVILIARIO,BARRIDO ,TRAPEADO Y RET...",NaN,X,NaN,NaN,NaN,NORMAL,NaN,NaN,X,X,X,X,X,X,NaN
1,4E GLOBAL PLANTA,OPL 1,BAÑOS FINANZAS,NaN,"LAVADO Y DESINFECCION DE WC, MIGITORIO,LAVABOS...",NaN,X,NaN,NaN,NaN,CRITICA,NaN,NaN,X,X,X,X,X,X,NaN
2,4E GLOBAL PLANTA,OPL 1,BAÑOS MUJERES /PLANTA,NaN,"LAVADO Y DESINFECCION DE WC,LAVABOS,PUERTAS Y ...",NaN,X,NaN,NaN,NaN,CRITICA,NaN,NaN,X,X,X,X,X,X,NaN
3,4E GLOBAL PLANTA,OPL 1,BAÑOS MATERIA PRIMA,NaN,"LAVADO Y DESINFECCION DE WC, MIGITORIO,LAVABOS...",NaN,X,NaN,NaN,NaN,NORMAL,NaN,NaN,X,X,X,X,X,X,NaN
4,4E GLOBAL PLANTA,OPL 1,OFICINA MESA DE CONTROL,NaN,"LIMPIEZA DE MOVILIARIO,BARRIDO ,TRAPEADO Y RET...",NaN,X,NaN,NaN,NaN,CRITICA,NaN,NaN,X,X,X,X,X,X,NaN

In [10]:
combined_df = combined_df[combined_df['Sitio'] != 'Sitio']

In [11]:
# combined_df.to_excel('excel final 1.xlsx', index=False)

In [14]:
combined_df['Sitio'].value_counts().sort_values(ascending=True)

Sitio
LIVERPOOL JILOTEPEC                  2
CARGILL CORPORATIVO                 14
OXXO IZTACALCO                      27
ERICSSON NEUCHATEL                  27
ZAGO EVEREST                        29
EUROVI LA ROSA                      30
SOFTTEK POLANCO                     31
CORPORATIVO LIVERPOOL               34
CORPORATIVO TOKS                    35
PLESA STEEL                         35
SIEMENS DOS PATIOS                  38
CUMBRES SECUNDARIA                  47
OXXO LOMAS VERDES                   49
TELEMUNDO                           52
PRUEBAS TECH2B                      52
PLAY CITY OASIS                     54
OXXO TECAMAC                        55
4E GLOBAL PLANTA                    62
MCCANN                              66
PLAY CITY ANTARA                    66
UNITED AIR LINES                    68
UNIVERSAL PICTURES MEXICO           72
FEMSA                               74
SOFTTEK TOREO                       76
TORRE ACUARIO                       77
BELCORP CEDIS                       85
PROSA CHACHALACAS                   86
SOFTTEK MITIKAH                     87
COLEGIO ALEMAN PRIMARIA             88
LIVERPOOL TECAMAC                   98
NETFLIX                             99
EDGEWELL                           100
PM STEEL                           102
ASSA ABLOY PELICANO                104
CUMBRES PRIMARIA Y KINDER          110
PARQUES PLAZA NUEVO POLANCO        113
PARQUE VIRREYES (AREAS COMUNES)    131
PLAY CITY ACOXPA                   146
MIYANA CENTRO COMERCIAL            148
INSTITUTO REGINA                   153
TORRE CHAPULTEPEC                  153
KIMBERLY CLARK                     172
TORRE REFORMA                      175
EUROVI OASIS                       184
MIYANA TORRE                       201
PLAZA ARKANA NORTE                 205
MAPFRE                             211
COLEGIO MONTEVERDE                 216
AMERICAN EXPRESS POLANCO           227
LIVERPOOL LINDAVISTA               231
LIVERPOOL PERINORTE                260
AMERICAN EXPRESS                   289
LIVERPOOL INTERLOMAS               290
LIVERPOOL COACALCO                 318
EUROVI ACOXPA                      331
ENCUENTRO OCEANIA                  358
LIVERPOOL CD JARDIN                378
LIVERPOOL TEPEYAC                  538
TORRE VIRREYES                     543
Name: count, dtype: int64

In [13]:
print(f'Se combinaron {len(dfs)} archivos en "combined_file.xlsx"')

Se combinaron 59 archivos en "combined_file.xlsx"